*{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
body{
    background-color: rgb(232, 204, 167);
    overflow-x: hidden;
}
header {
	margin: 0;
	position: sticky;
	top: 0;
	z-index: 100;
	width: 100%;
}
nav{
    position: fixed;
    background-color: beige;
    border-bottom: 2px black solid;
    width: 100vw;
    display: flex;
    height: 10%;
}
nav h1{
    margin: 1rem;
}
.links-nav{
    float: center;
    position: relative;
    padding-left: 60rem;
    margin-top: 1.4rem;
}
a{
    text-decoration:underline;
    color: rgb(31, 26, 26);
    padding-right: 0.6rem;
}
i{
    cursor: pointer;
}
.banner{
    padding-top: 12rem;
    background-image: url(/images/banner-pimenta.jpg);
    height: 350px; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100vw;
}
.banner h2{
    text-align: center;
    color: rgb(245, 237, 237);
    padding-top: 5%;
}
main section{
    margin: 0 4rem 4rem 4rem;
    padding-top: 8rem;
}
img{
    width:30%;
}
footer{
    background-color: beige;
    display: inline-block;
    width: 100vw;
    height: 30vh;
}
/*footer h4{
    margin:5rem;
    text-align: left;
    display: inline-flex;
    border: 1px red solid;
    margin-top: 4rem;
}*/
footer img {
    width: 15%;
    padding-left: 4rem;
}

.links-footer{
    display: inline;
    position: inline;
    float: right;
    padding: 4.5rem 10rem 0 0;
}
.icons-footer{
    display: inline;
    position: inline;
    float: right;
    padding: 4.5rem 10rem 0 0;
}
.creditos-img{
    display: inline;
    position: inline;
    float: right;
    padding: 4.5rem 10rem 0 0;
}
